.redcar
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
*.DS_Store
bundler_stubs/
*.sublime-project
*.sublime-workspace
public/uploads
public/ckeditor_assets
public/system/redactor_assets
backups
#app/assets/images/static_images
