<!-- <div class="row"> -->
<%= render 'form' %>


<div class="span4">

<%= link_to 'Show',  @sector , :class => 'btn btn-mini' %> |
<%= link_to 'Back', sectors_path , :class => 'btn btn-mini'  %>
</div>

<!-- </div> -->